blib*
Makefile
Makefile.old
Build
_build*
pm_to_blib*
*.tar.gz
.lwpcookies
PerlX-QuoteOperator-*
cover_db
.DS_Store
pod2htmd.tmp
pod2htmi.tmp
MANIFEST.bak
META.yml
MYMETA.yml
# no need to version this; Build.PL creates it for dist tasks
Makefile.PL
